<h1>Editing child</h1>

<%= render 'form' %>

<div class="btn-group">
	<%= link_to 'Show', @child, :class=>"btn btn-success" %>
	<%= link_to 'Back', children_path, :class=>"btn btn-success" %>
</div>	
