<h1>Welcome, mothers and children!</h1>
<div class="btn-group btn-group-lg">
	<%= link_to 'Listing Mothers', mothers_path, :class=>"btn btn-primary" %>
	<%= link_to 'Listing Children', children_path, :class=>"btn btn-primary" %>
	<%= link_to 'Bouqets', bouqets_path, :class=>"btn btn-primary" %>
</div>